apiVersion: v1
kind: Service
metadata:
  name: {{ include "accountabilidash.fullname" . }}-backend
  labels:
    {{- include "accountabilidash.backend.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "accountabilidash.backend.selectorLabels" . | nindent 4 }}
