apiVersion: v1
kind: Service
metadata:
  name: {{ include "accountabilidash.fullname" . }}-frontend
  labels:
    {{- include "accountabilidash.frontend.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "accountabilidash.frontend.selectorLabels" . | nindent 4 }}
